body {
  padding: 0;
  margin: 0;
  background-color: #f8f7f4;
  /*text-align: center;*/
  font-family: verdana, serif;
  color: #625b52;
}

h1{
  font-family: georgia, serif;
  color: #625b52;
  font-size: 72px;
}

h2 {
  font-size: 36px;
}

.row {
  margin-top: 1em;
  margin-bottom: 1em;
}

.address {
  font-size: 125%;
}