body {
  padding: 0;
  margin: 0;
  background-color: #f8f7f4;
  /*text-align: center;*/
  font-family: verdana, serif;
  color: #625b52;
}

h1{
  font-family: georgia, serif;
  color: #625b52;
  font-size: 72px;
}

h2 {
  font-size: 36px;
  color: #625b52;
}

.row {
  margin-top: 1em;
  margin-bottom: 1em;
}

.address {
  font-size: 125%;
}

figcaption {
  text-align: center;
  margin: 1em;
}

footer {
  background-color: #625b52;
  color: #f8f7f4
}

footer p {
  font-size: 125%;

}

footer .row {
  margin-bottom: 0;
}

.caption {
  text-align: center;
}